.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  height: 350px;
  margin: 20px;
  border: solid 1px #e6c1de;
}

.media img {
  height: 250px;
  width: 240px;
  object-fit: cover;
  border-radius: 2px;
  border: solid 2px #91738f;
  display: flex;
  justify-content: center;
}
.product-name {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
}

.product-price {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
}
.product-info {
  width: 240px;
  height: 100px;
  object-fit: cover;
  border-radius: 2px;
  border: solid 2px #91738f;
  display: flex;
  justify-content: center;
  border-top: solid 1px #91738f;
  background-color: #c59ec1;
}

.itemBtn {
  margin: 60px 10px 40px 10px;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.remove {
  margin: 10px;
}
.add {
  margin: 10px;
}
