.navbar {
  width: 100%;
  max-width: 100vw;
  background: #2c4047;
  color: white;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 100px;
}

.logo,
.navLinks {
  color: white;
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.navLinks {
  display: flex;
  gap: 100px;
  flex-grow: 2;
}

.singleNavLink {
  color: white;
  text-decoration: none;
  font-size: 18px;
  justify-content: space-between;
  color: white;
}
