.hero {
  height: 50vh;
  background-color: #00c385;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.intro {
  width: 50vw;
  color: white;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: inline-block;
  flex-direction: row;

}

.intro > h1 {
  font-size: 54px;
  color: white;
  margin: 0;
}

.intro > h2 {
  font-size: 18px;
  font-weight: 400;
  color: white;
}

.hero-img {
  height: 150%;
}
